body {
    margin: 0;
    background-color: #f5f7fa;
    font-family: "Inter", "Segoe UI", sans-serif;
}

#game-container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

.top-bar {
    top: 0;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100%;
}


.top-bar h1 {
    color: #4a7de3;
    font-size: 45px;
    margin: 0;
}

.light-mode {
    background-color: #f5f7fa;

    h1 {
        color: #4a7de3;
    }

    #gridOverlay {
        background-color: #f5f7fa;
    }

    #sudokuBoard {
        border: 3px solid #1b2038;

        .sudokuCell:nth-child(3n):not(:nth-child(9n)) {
            border-right: 3px solid #1b2038
        }

        .sudokuCell:nth-child(n+19):nth-child(-n+27),
        .sudokuCell:nth-child(n+46):nth-child(-n+54) {
            border-bottom: 3px solid #1b2038;
        }
    }

    .sudokuCell:disabled {
        background-color: #dce3f0;
    }

    #endPanel {
        background-color: #ffffff;

        h2 {
            color: #141628;
        }

        p {
            color: #141628;
        }

        button {
            background-color: #4a7de3;
            color: #ffffff;
        }
    }

    #pausePanel {
        background-color: #ffffff;

        h2 {
            color: #141628;
        }

        p {
            color: #141628;
        }

        span {
            color: #4a7de3;
        }
    }

    span {
        color: #82a4d8;
    }

    #timerLabel {
        color: #1f2945;
    }

    #difficultyLabel {
        color: #1f2945;
    }

    .sudokuCell {
        background-color: #f5f7fa;
        color: #1f2945;
    }

    .numberBtn {
        background-color: #dce3f0;
        color: #1f2945;
    }

    .numberBtn:disabled {
        background-color: #b9c0d4;
    }

    .numberBtn.selected {
        background-color: #a0beff;
    }

    .numberBtn:hover:not(:disabled) {
        background-color: #c0c9e0;
    }
}

.dark-mode {
    background-color: #141628;

    h1 {
        color: #82a4d8;
    }

    span {
        color: #82a4d8;
    }

    .sudokuCell:disabled {
        background-color: #282d46;
    }

    #sudokuBoard {
        border: 3px solid #ffffff;

        .sudokuCell:nth-child(3n):not(:nth-child(9n)) {
            border-right: 3px solid #ffffff;
        }

        .sudokuCell:nth-child(n+19):nth-child(-n+27),
        .sudokuCell:nth-child(n+46):nth-child(-n+54) {
            border-bottom: 3px solid #ffffff;
        }
    }

    #gridOverlay {
        background-color: #141628;
    }

    #endPanel {
        background-color: #1b2038;

        h2 {
            color: #82a4d8;
        }

        p {
            color: #d7def5;
        }

        button {
            background-color: #4a7de3;
            color: #ffffff;
        }
    }

    #pausePanel {
        background-color: #1b2038;

        h2 {
            color: #ffffff;
        }

        p {
            color: #d7def5;
        }

        span {
            color: #82a4d8;
        }
    }

    #timerLabel {
        color: #ffffff;
    }

    #difficultyLabel {
        color: #ffffff;
    }

    .sudokuCell {
        background-color: #141628;
        color: white;
    }

    .numberBtn {
        background-color: #282d46;
        color: white;
    }

    .numberBtn:disabled {
        background-color: #3a405d;
    }

    .numberBtn.selected {
        background-color: #5a8cff;
    }

    .numberBtn:hover:not(:disabled) {
        background-color: #3a405d;
    }

}

#lives {
    align-items: center;
    display: flex;
    gap: 8px;
}

.heart {
    width: 30px;
    height: 30px;
}

#topButtons {
    display: flex;
    align-items: center;
    gap: 15px;
}

#topButtons button:hover {
    transform: scale(1.05);
}

#resetBtn {
    height: 35px;
    width: 125px;
    background-color: #4a7de3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    align-items: center;
    text-align: center;

}

#resetBtn img {
    width: 20px;
    height: 20px;
    align-items: left;
    margin-right: 8px;
}

.infoItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.infoIcon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.infoText {
    display: flex;
    flex-direction: column;
}

.infoText span {
    font-size: 14px;
}

.infoText p {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0 0;
}

#themeIcon,
#homeIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform .2s;
}

#themeIcon:hover,
#homeIcon:hover {
    transform: scale(1.15);
}

#gameContent {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 150px !important;
}

#gridOverlay {
    width: 450px;
    height: 450px;
    display: none;
    border: 3px solid #727a91;

}

#sudokuBoard {
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 3px;
}

.sudokuCell {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #727a91;
    border-radius: 5px;

}

.sudokuCell.wrong {
    color: rgb(138, 13, 13);
}

.sudokuCell:focus {
    outline: 2px solid #4a7de3;
}

.sudokuCell:disabled {
    cursor: default;
}

#sidePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    margin-left: 170px;

}

#sidePanel .infoIcon:nth-child(1).infoIcon {
    transform: translateY(5px);
}

#sidePanel .infoItem:nth-child(2) .infoIcon {
    transform: translateY(5px);
}

#sidePanel .infoIcon:nth-child(3).infoIcon {
    transform: translateY(5px);
}

.infoItem span {
    font-size: 14px;
}

.infoItem p {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0 0;
}

#numberButtons {
    border-collapse: separate;
    border-spacing: 10px;
}

.numberBtn {
    width: 66px;
    height: 66px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
}

.numberBtn:disabled {
    cursor: default;
    transition: none;
    transform: none;

}

.numberBtn:hover:not(:disabled) {
    transform: scale(1.05);
}

#undoBtn {
    height: 40px;
    width: 180px;
    padding: 7px;
    padding-top: 5px;
    border: none;
    border-radius: 8px;
    background-color: #4a7de0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 40px;


}

#undoBtn img {
    width: 20px;
    height: 20px;
    align-items: left;
    margin-bottom: 10px;
}

#undoBtn:hover {
    background-color: #3668d6;
    transform: scale(1.05);
}

#pauseIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform .2s;
}

#pauseIcon:hover {
    transform: scale(1.15);
}

#pauseOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: none;
    z-index: 99;
}

#pausePanel {
    position: fixed;
    display: none;
    flex-direction: column;
    width: 350px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .15);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    z-index: 100;
}

#pausePanel h2 {
    margin: 0 0 25px;
    font-size: 25px;
    font-weight: 700;
}

#pausePanel p {
    margin: 8px 0;
    font-size: 20px;
    font-weight: 700;
}

#pausePanel span {
    font-weight: 600;
}


#pausePanel button {
    text-align: center;
    margin-top: 15px;
    padding: 10px 24px;
    border: none;
    border-radius: 9px;
    background-color: #5a8cff;
    color: #ffffff;
    font-size: 15px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background: #6d9aff;
        transform: translateY(-2px);
    }
}

#messageBox {
    background-color: #4a7de0;
    color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .25);
    display: none;
    z-index: 1000;
    /*200*/
    font-size: 18px;
}

#endOverlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 300;
}

#endPanel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    padding: 30px;
    border-radius: 20px;

    background-color: white;
    text-align: center;
}

#endPanel h2 {
    margin-bottom: 10px;
    font-size: 28px;
}

#endPanel p {
    margin-bottom: 25px;
    font-size: 17px;
}

#endPanel button {
    padding: 10px 20px;
    margin: 5px;

    border: none;
    border-radius: 10px;

    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 900px) {

    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #game-container {
        width: 100%;
        height: 100vh;
        max-width: none;
        margin: 0;
        padding: 6px 0;
        box-sizing: border-box;
    }

    .top-bar {
        width: 96%;
        height: 38px;
        margin: 0 auto;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
        gap: 5px;
    }

    .top-bar h1 {
        font-size: 25px;
        margin: 0;
    }

    #lives {
        gap: 3px;
    }

    .heart {
        width: 20px;
        height: 20px;
    }

    #topButtons {
        gap: 6px;
    }

    #resetBtn {
        height: 30px;
        padding: 4px 8px;
        font-size: 12px;
    }

    #themeIcon,
    #homeIcon {
        width: 19px;
        height: 19px;
    }

    #gameContent {
        width: 100%;
        height: auto;
        margin: 5px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 8px !important;
    }

    #sudokuBoard {
        width: min(88vw, 350px);
        height: min(88vw, 350px);

        max-width: 350px;
        max-height: 350px;

        flex-shrink: 0;

        margin: 0 auto;
    }

    .sudokuCell {
        font-size: 18px;
    }

    #sidePanel {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        margin: 0 !important;
        flex-shrink: 0;
    }

    #gameInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 35px;
        width: 100%;
    }

    #numberButtons {
        border-spacing: 4px;
        margin: 0 auto;
    }

    .numberBtn {
        width: 52px;
        height: 52px;
        font-size: 17px;
        border-radius: 8px;
    }

    #undoBtn {
        width: 150px;
        height: 34px;
        padding: 4px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {

    #game-container {
        padding: 4px 0;
    }

    .top-bar {
        height: 35px;
    }

    .top-bar h1 {
        font-size: 23px;
    }

    .heart {
        width: 18px;
        height: 18px;
    }

    #resetBtn {
        height: 28px;
        font-size: 11px;
        padding: 3px 6px;
    }

    #themeIcon,
    #homeIcon {
        width: 18px;
        height: 18px;
    }


    #gameContent {
        height: auto;
        gap: 5px !important;
    }

    #sudokuBoard {
        width:86vw;
        height: 86vw;
        max-width: 335px;
        max-height: 335px;
    }

    .sudokuCell {
        font-size: 16px;
    }

    #sidePanel {
        gap: 4px;
        margin-left: 0 !important;
    }

    #gameInfo {
        gap: 25px;
    }

    #numberButtons {
        border-spacing: 3px;
    }

    .numberBtn {
        width: 48px;
        height: 48px;
        font-size: 16px;
    }

    #undoBtn {
        width: 140px;
        height: 32px;
        font-size: 13px;
    }
}
